# ── Next.js ───────────────────────────────────────────────────────────────────
/.next/
/out/
next-env.d.ts

# ── TypeScript ────────────────────────────────────────────────────────────────
*.tsbuildinfo

# ── Deployment ────────────────────────────────────────────────────────────────
.vercel

# ── Test coverage ─────────────────────────────────────────────────────────────
/coverage
